@font-face {
  font-family: "Barbie";
  src: url("/assets/fonts/barbie.ttf") format("truetype");
}

@font-face {
  font-family: "Bartex";
  src: url("/assets/fonts/Bartex-2Opnd.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rusty";
  src: url("/assets/fonts/RustyHooksRegular-nROER.ttf") format("truetype");
}

@font-face {
  font-family: "SuperUnicorn";
  src: url("/assets/fonts/SuperUnicorn-3lm0L.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -35deg,
    #f8b8d4,
    #f7c0d6,
    #a9e2f3,
    #c2f1e3
  ); /* Pastel gradient harmonisé */
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  margin: 0;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#jeu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7edf0;
  box-shadow: 10px 10px 38px 19px rgba(0, 0, 0, 0.45);
  padding: 15px;
  width: 400px;
  max-width: 80vw;
  border-radius: 10px;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

#chapter-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#chapter-description {
  font-family: "SuperUnicorn";
  color: #f72585;
  font-size: 20px;
  text-align: center;
}

video,
img {
  max-width: 100%;
  border-radius: 5%;
}

#chapter-title,
#titre {
  font-family: "Rusty";
  color: #f72585;
  font-size: 26px;
  text-align: center;
}

#buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.5%;
}

button {
  align-items: center;
  background-color: #ff99c8;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
  color: #f5f5f5;
  cursor: pointer;
  font-family: "SuperUnicorn";
  font-size: 20px;
  margin: 0 10px;
  padding: 2%;
  position: relative;
  transition: all 250ms;
}

button:hover,
button:focus {
  background-color: #a2d2ff;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #ff80d3;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

#mute-checkbox {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#mute-checkbox + label {
  font-family: "Barbie";
  padding: 7px;
  font-size: 20px;
  color: #ec3b83; /* Teinte rose vif */
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 12px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

#mute-checkbox + label::before {
  content: "🔊";
  font-size: 20px;
}

#mute-checkbox:checked + label::before {
  content: "🔇";
}

#reset-button {
  background-color: #ff3377; /* Rose vif */
  color: #f5f5f5;
  font-family: "Barbie";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 12px;
  left: 20px;
  z-index: 10;
}

#reset-button:hover {
  background-color: #33b5ff; /* Bleu doux pour contraste */
  color: #ffcce5;
}

/* Pour les mobiles */
@media only screen and (max-width: 600px) {
  body {
    background-size: 100% 100%;
  }

  #chapter-description {
    font-size: 16px;
  }
}

#buttons-container {
  display: flex;
  justify-content: center;
  padding: 2.5%;
}
