@font-face {
  font-family: "Barbie";
  src: url("/assets/fonts/barbie.ttf") format("truetype");
}

@font-face {
  font-family: "Bartex";
  src: url("/assets/fonts/Bartex-2Opnd.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rusty";
  src: url("/assets/fonts/RustyHooksRegular-nROER.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-35deg, #f8a5c2, #f7acc7, #b5e2f3, #c2f1e3);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  margin: 0;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#jeu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ff99cc;
  box-shadow: 10px 10px 38px 19px rgba(0, 0, 0, 0.45);
  padding: 2%;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

#chapter-title,
#titre {
  font-family: "Rusty";
  color: #ec3b83;
  font-size: 20px;
  text-align: center;
}

#buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.5%;
}

button {
  align-items: center;
  background-color: #ffcff1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px 0;
  color: #2182a9;
  cursor: pointer;
  font-family: "Rusty";
  font-size: 20px;
  justify-content: center;
  margin: 0 10px;
  padding: 2%;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

button:hover,
button:focus {
  background-color: #4eaadf;
  color: #ffcff1;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #93c4d2;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

#chapter-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#chapter-description {
  font-family: "Poppins";
  font-size: 16px;
  text-align: center;
}

video,
img {
  max-width: 100%;
  height: auto;
}

#mute-checkbox {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

#mute-checkbox + label {
  font-family: "Barbie";
  font-size: 20px;
  color: #ec3b83;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 12px;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}

#mute-checkbox + label::before {
  content: "🔊";
  font-size: 20px;
}

#mute-checkbox:checked + label::before {
  content: "🔇";
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 100% 100%;
  }

  #jeu {
    width: 90%;
    height: auto;
    max-width: 90vw;
    max-height: auto;
  }

  #mute-checkbox + label {
    font-size: 20px;
  }

  #chapter-description {
    font-size: 16px;
  }
}

#buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.5%;
}

#mute-checkbox {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

#mute-checkbox + label {
  font-family: "Barbie";
  font-size: 24px;
  color: #ec3b83;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: fixed;
  right: 30px;
  cursor: pointer;
  z-index: 1;
}

#mute-checkbox + label::before {
  content: "🔊";
  font-size: 27px;
  margin-right: 5px;
}

#mute-checkbox:checked + label::before {
  content: "🔇";
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 100% 100%;
  }

  #jeu {
    width: 90%;
    height: auto;
    max-width: 90vw;
    max-height: auto;
  }

  #paragraphe {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }

  #mute-checkbox + label {
    font-size: 20px;
  }

  #chapter-description {
    font-size: 16px;
  }
}

#reset-button {
  background-color: #ff3377;
  color: #f5f5f5;
  font-family: "Barbie";
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 12px;
  left: 20px;
  z-index: 10;
}

#reset-button:hover {
  background-color: #33b5ff;
  color: #ffcff1;
}
